.section5 {
	.content {
		padding-block: 8rem;
		display: flex;
		flex-direction: column;
		gap: 5rem;
		p {
			text-align: center;
			color: #75bf7a;
			font-weight: 800;
			font-size: 2.8rem;
			span {
				color: #000000;
				font-weight: 800;
				font-size: 2.8rem;
			}
		}
		.div1 {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-inline: 5rem;
			.divContents {
				display: flex;
				flex-direction: column;
				gap: 1rem;
				.contentsDiv1 {
					display: flex;
					align-items: center;
					gap: 1.8rem;
					p {
						color: #000000;
						font-weight: 600;
						font-size: 2.1rem;
					}
				}
				.textsPTag {
					color: #9e9da2;
					font-weight: 500;
					font-size: 1.3rem;
				}
			}
		}
	}
}
