.buttons {
	padding-block: 7px;
	padding-inline: 18px;
	border-radius: 8px;
	border: none;
	background-color: black;
	color: aliceblue;
	display: flex;
	align-items: center;
	gap: 0.7rem;
	font-size: 1.6rem;
	font-weight: 600;
	cursor: pointer;
}
